[ req ]
distinguished_name = req_distinguished_name
req_extensions = req_ext

[ req_distinguished_name ]
countryName = US
countryName_default = US
stateOrProvinceName = Califonia
stateOrProvinceName_default = USA
localityName = Califonia
localityName_default = Califonia
organizationName = TMS
organizationName_default = TMS
commonName = tms
commonName_default = es01.tms.local

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = es01.tms.local
DNS.2 = localhost
IP.1 = 127.0.0.1
